[Unit]
Description=STF app
After=rethinkdb-proxy-28015.service
BindsTo=rethinkdb-proxy-28015.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull openstf/stf:latest
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  --link rethinkdb-proxy-28015:rethinkdb \
  -p %i:3100 \
  openstf/stf:latest \
  stf app --port 3100 \
    --auth-url http://192.168.38.121:3200/auth/oauth/ \
    --websocket-url wss://192.168.38.121:3600/
ExecStop=-/usr/bin/docker stop -t 10 %p-%i